<div class="col-6">
  <div class="">
    <%=link_to image_tag(article.image.variant(resize_to_limit: [200, 200])),article_path(article) if article.image.attached? %>
  </div>
  <div class="">
    <%= link_to article.title, article_path(article)%>
  </div>
  <span class="badge bg-secondary" title="Created"><%=article.created_at%></span>
  <span class="badge bg-primary" title="Author"><%=article.user.username%></span>
  <span class="badge bg-danger" title="Likes">
    <span class="like-counter">
      <%=article.likes.size if article.likes.size > 0%>
    </span>
    <a class="like" data-object-id="<%=article.id%>">Like</a></span>
  <div class="">
    <%article.categories.each do |category|%>
      <span class="badge">
        <%=link_to category.name, category_path(category)%>
      </span>
    <%end%>
  </div>
</div>
